.add-workplace{
    position: relative;
}

.add-workplace-btn{
    margin-top: 10px;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 30px;
    background: none;
    color: rgb(172, 173, 174);
  }
  
  .add-workplace-btn:hover{
    cursor: pointer;
    border-radius: 8px;
    background: rgb(43, 42, 48);
  }

  .workplace-options{
      height: 100px;
      width: 270px;
      position: absolute;
      background: rgb(34, 37, 41);
      border: 2px solid rgb(43, 42, 47);
      border-radius: 10px;
      color: white;
      left: 50px;
      top: 10px;
  }