body{
  margin: 0;
  padding: 0;
}

.main{
  min-height: 100vh;
  display: flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.workplaces{
  display: flex;
  flex-direction: column;
  flex: none;
  width: 80px;
  border-top: 1px solid rgb(43, 42, 47);
  border-right: 1px solid rgb(43, 42, 47);
  background: rgb(25, 23, 29);
  align-items: center;
}

.workplace{
  color: white;
  flex: none;
  height: 40px;
  width: 40px;
  margin: 10px;
  border: 4px solid white;
  border-radius: 10px;
  background: rgb(121, 185, 85);
}

.sub-workplace{
  color: rgb(154, 154, 157);
  height: 100vh;
  flex-direction: column;
  display: flex;
  /* color: white; */
  flex: 2;
  border-top: 1px solid rgb(43, 42, 47);
  border-right: 1px solid rgb(43, 42, 47);
  background: rgb(25, 23, 29);
}

.workplace-header-container{
  height: 50px;
  display: flex;
  flex: none;
  border: 1px solid rgb(43, 42, 47);
  color: rgb(209, 210, 211);
  font-weight: bold;
  background: rgb(25, 23, 29);
}

.workplace-header-container:hover{
  background: rgb(43, 42, 48);
  cursor: pointer;
}

.workplace-header-body{
  padding-left: 20px;
}

.workplace-options{
  margin-top: 10px;
}

.workplace-options-item{
  padding: 5px 0 5px 20px ;
  font-size:  15px;
  cursor: pointer;
}

.workplace-options-item:hover{
  background: rgb(43, 42, 48);
}

.workplace-body{
  margin-top: 10px;
}

.body{
  height: 100%;
  overflow: scroll;
}

.channels-container{
}

.channel-heading{
  /* padding: 1px; */
  padding-left: 20px;
  cursor: pointer;
}

.channel-heading:hover{
  cursor: pointer;
}

.channel-items-container{
}

.channel-item{
  /* color: rgb(154, 154, 157); */
  padding-left: 20px;
  padding-top:5px;
  padding-bottom:5px;
}

.channel-item:hover{
  cursor: pointer;
  background: rgb(43, 42, 48);
}




.dm-container{
}

.dm-heading{
  /* padding: 1px; */
  padding-left: 20px;
  cursor: pointer;
}

.dm-heading:hover{
  cursor: pointer;
}

.dm-items-container{
}

.dm-item{
  /* color: rgb(154, 154, 157); */
  padding-left: 20px;
  padding-top:5px;
  padding-bottom:5px;
}

.dm-item:hover{
  cursor: pointer;
  background: rgb(43, 42, 48);
}





.message-window{
  color: white;
  flex: 10;
  border-top: 1px solid rgb(43, 42, 47);
  border-right: 1px solid rgb(43, 42, 47);
  background: rgb(25, 23, 29);
}