body{
  margin: 0;
  padding: 0;
}

.main{
  min-height: 100vh;
  display: flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.workplaces{
  display: flex;
  flex-direction: column;
  flex: none;
  width: 80px;
  border-top: 1px solid rgb(43, 42, 47);
  border-right: 1px solid rgb(43, 42, 47);
  background: rgb(25, 23, 29);
  align-items: center;
}

.workplace{
  color: white;
  flex: none;
  height: 40px;
  width: 40px;
  margin: 10px;
  border: 3px solid white;
  background: rgb(121, 185, 85);
}

.sub-workplace{
  color: white;
  flex: 2;
  border-top: 1px solid rgb(43, 42, 47);
  border-right: 1px solid rgb(43, 42, 47);
  background: rgb(25, 23, 29);
}

.message-window{
  color: white;
  flex: 10;
  border-top: 1px solid rgb(43, 42, 47);
  border-right: 1px solid rgb(43, 42, 47);
  background: rgb(25, 23, 29);
}